In [18]:
%matplotlib notebook
from sklearn import model_selection, preprocessing, metrics
from xgboost import XGBRegressor
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.model_selection import GridSearchCV
import seaborn as sn
from sklearn.metrics import make_scorer, mean_squared_error, r2_score, accuracy_score

Загружаем данные

In [2]:
train = pd.read_csv('/home/elavelina/Documents/DSML_2018-master/HW/5/train.csv')
macro = pd.read_csv('/home/elavelina/Documents/DSML_2018-master/HW/5/macro.csv')
test = pd.read_csv('/home/elavelina/Documents/DSML_2018-master/HW/5/train.csv')
train_joined = pd.merge(macro, train, on='timestamp')
test_joined = pd.merge(macro, test, on='timestamp')

In [3]:
train_joined = train_joined.fillna(-1)
train_joined = train_joined.replace('yes', 1)
train_joined = train_joined.replace('no', 0)
train_joined.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>oil_urals</th>
      <th>gdp_quart</th>
      <th>gdp_quart_growth</th>
      <th>cpi</th>
      <th>ppi</th>
      <th>gdp_deflator</th>
      <th>balance_trade</th>
      <th>balance_trade_growth</th>
      <th>usdrub</th>
      <th>...</th>
      <th>cafe_count_5000_price_2500</th>
      <th>cafe_count_5000_price_4000</th>
      <th>cafe_count_5000_price_high</th>
      <th>big_church_count_5000</th>
      <th>church_count_5000</th>
      <th>mosque_count_5000</th>
      <th>leisure_count_5000</th>
      <th>sport_count_5000</th>
      <th>market_count_5000</th>
      <th>price_doc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2011-08-20</td>
      <td>109.31</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>354.0</td>
      <td>420.7</td>
      <td>86.721</td>
      <td>15.459</td>
      <td>10.1</td>
      <td>29.0048</td>
      <td>...</td>
      <td>9</td>
      <td>4</td>
      <td>0</td>
      <td>13</td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>52</td>
      <td>4</td>
      <td>5850000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2011-08-23</td>
      <td>109.31</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>354.0</td>
      <td>420.7</td>
      <td>86.721</td>
      <td>15.459</td>
      <td>10.1</td>
      <td>28.9525</td>
      <td>...</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>15</td>
      <td>29</td>
      <td>1</td>
      <td>10</td>
      <td>66</td>
      <td>14</td>
      <td>6000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2011-08-27</td>
      <td>109.31</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>354.0</td>
      <td>420.7</td>
      <td>86.721</td>
      <td>15.459</td>
      <td>10.1</td>
      <td>28.8082</td>
      <td>...</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>11</td>
      <td>27</td>
      <td>0</td>
      <td>4</td>
      <td>67</td>
      <td>10</td>
      <td>5700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2011-09-01</td>
      <td>111.29</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>353.2</td>
      <td>434.4</td>
      <td>86.721</td>
      <td>15.386</td>
      <td>10.1</td>
      <td>28.9655</td>
      <td>...</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>26</td>
      <td>3</td>
      <td>13100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2011-09-05</td>
      <td>111.29</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>353.2</td>
      <td>434.4</td>
      <td>86.721</td>
      <td>15.386</td>
      <td>10.1</td>
      <td>29.4625</td>
      <td>...</td>
      <td>319</td>
      <td>108</td>
      <td>17</td>
      <td>135</td>
      <td>236</td>
      <td>2</td>
      <td>91</td>
      <td>195</td>
      <td>14</td>
      <td>16331452</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 391 columns</p>
</div>

In [4]:
test_joined = test_joined.fillna(-1)
test_joined = test_joined.replace('yes', 1)
test_joined = test_joined.replace('no', 0)
test_joined.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>oil_urals</th>
      <th>gdp_quart</th>
      <th>gdp_quart_growth</th>
      <th>cpi</th>
      <th>ppi</th>
      <th>gdp_deflator</th>
      <th>balance_trade</th>
      <th>balance_trade_growth</th>
      <th>usdrub</th>
      <th>...</th>
      <th>cafe_count_5000_price_2500</th>
      <th>cafe_count_5000_price_4000</th>
      <th>cafe_count_5000_price_high</th>
      <th>big_church_count_5000</th>
      <th>church_count_5000</th>
      <th>mosque_count_5000</th>
      <th>leisure_count_5000</th>
      <th>sport_count_5000</th>
      <th>market_count_5000</th>
      <th>price_doc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2011-08-20</td>
      <td>109.31</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>354.0</td>
      <td>420.7</td>
      <td>86.721</td>
      <td>15.459</td>
      <td>10.1</td>
      <td>29.0048</td>
      <td>...</td>
      <td>9</td>
      <td>4</td>
      <td>0</td>
      <td>13</td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>52</td>
      <td>4</td>
      <td>5850000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2011-08-23</td>
      <td>109.31</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>354.0</td>
      <td>420.7</td>
      <td>86.721</td>
      <td>15.459</td>
      <td>10.1</td>
      <td>28.9525</td>
      <td>...</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>15</td>
      <td>29</td>
      <td>1</td>
      <td>10</td>
      <td>66</td>
      <td>14</td>
      <td>6000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2011-08-27</td>
      <td>109.31</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>354.0</td>
      <td>420.7</td>
      <td>86.721</td>
      <td>15.459</td>
      <td>10.1</td>
      <td>28.8082</td>
      <td>...</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>11</td>
      <td>27</td>
      <td>0</td>
      <td>4</td>
      <td>67</td>
      <td>10</td>
      <td>5700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2011-09-01</td>
      <td>111.29</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>353.2</td>
      <td>434.4</td>
      <td>86.721</td>
      <td>15.386</td>
      <td>10.1</td>
      <td>28.9655</td>
      <td>...</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>26</td>
      <td>3</td>
      <td>13100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2011-09-05</td>
      <td>111.29</td>
      <td>14313.7</td>
      <td>3.3</td>
      <td>353.2</td>
      <td>434.4</td>
      <td>86.721</td>
      <td>15.386</td>
      <td>10.1</td>
      <td>29.4625</td>
      <td>...</td>
      <td>319</td>
      <td>108</td>
      <td>17</td>
      <td>135</td>
      <td>236</td>
      <td>2</td>
      <td>91</td>
      <td>195</td>
      <td>14</td>
      <td>16331452</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 391 columns</p>
</div>

In [5]:
img = sn.heatmap(train.corr(), cmap="YlGnBu", square=True, xticklabels=False, yticklabels=False).get_figure()

In [6]:
img.savefig('/home/elavelina/Documents/DSML_2018-master/HW/5/task5_img1.png', bbox_inches='tight')

In [8]:
corr_matrix = train_joined.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
corr_features = [column for column in upper.columns if any(upper[column] > 0.95)]
print(corr_features)

['ppi', 'usdrub', 'eurrub', 'brent', 'gdp_annual', 'grp_growth', 'real_dispos_income_per_cap_growth', 'salary', 'fixed_basket', 'retail_trade_turnover', 'retail_trade_turnover_per_cap', 'retail_trade_turnover_growth', 'labor_force', 'employment', 'invest_fixed_capital_per_cap', 'invest_fixed_assets', 'profitable_enterpr_share', 'unprofitable_enterpr_share', 'share_own_revenues', 'fin_res_per_cap', 'marriages_per_1000_cap', 'divorce_rate', 'construction_value', 'invest_fixed_assets_phys', 'pop_total_inc', 'housing_fund_sqm', 'lodging_sqm_per_cap', 'water_pipes_share', 'baths_share', 'sewerage_share', 'gas_share', 'hot_water_share', 'electric_stove_share', 'heating_share', 'old_house_share', 'average_life_exp', 'infant_mortarity_per_1000_cap', 'perinatal_mort_per_1000_cap', 'incidence_population', 'load_of_teachers_preschool_per_teacher', 'provision_doctors', 'provision_nurse', 'power_clinics', 'hospital_beds_available_per_cap', 'hospital_bed_occupancy_per_year', 'turnover_catering_per_cap', 'theaters_viewers_per_1000_cap', 'seats_theather_rfmin_per_100000_cap', 'museum_visitis_per_100_cap', 'bandwidth_sports', 'population_reg_sports_share', 'students_reg_sports_share', 'apartment_build', 'apartment_fund_sqm', 'id', 'children_preschool', 'children_school', 'school_quota', 'school_education_centers_raion', 'male_f', 'female_f', 'young_all', 'young_male', 'young_female', 'work_all', 'work_male', 'work_female', 'ekder_all', 'ekder_male', 'ekder_female', '0_6_all', '0_6_male', '0_6_female', '7_14_all', '7_14_male', '7_14_female', '0_17_all', '0_17_male', '0_17_female', '16_29_all', '16_29_male', '16_29_female', '0_13_all', '0_13_male', '0_13_female', 'raion_build_count_with_builddate_info', 'metro_min_walk', 'metro_km_walk', 'railroad_station_walk_min', 'railroad_station_avto_km', 'public_transport_station_min_walk', 'sadovoe_km', 'bulvar_ring_km', 'kremlin_km', 'zd_vokzaly_avto_km', 'preschool_km', 'cafe_sum_500_max_price_avg', 'cafe_avg_price_500', 'cafe_count_500_price_500', 'cafe_count_500_price_1500', 'cafe_count_500_price_2500', 'cafe_count_1000', 'cafe_sum_1000_max_price_avg', 'cafe_avg_price_1000', 'cafe_count_1000_na_price', 'cafe_count_1000_price_500', 'cafe_count_1000_price_1000', 'cafe_count_1000_price_1500', 'cafe_count_1000_price_2500', 'cafe_count_1000_price_4000', 'church_count_1000', 'office_count_1500', 'cafe_count_1500', 'cafe_sum_1500_max_price_avg', 'cafe_avg_price_1500', 'cafe_count_1500_na_price', 'cafe_count_1500_price_500', 'cafe_count_1500_price_1000', 'cafe_count_1500_price_1500', 'cafe_count_1500_price_2500', 'cafe_count_1500_price_4000', 'big_church_count_1500', 'church_count_1500', 'leisure_count_1500', 'office_count_2000', 'cafe_count_2000', 'cafe_sum_2000_max_price_avg', 'cafe_avg_price_2000', 'cafe_count_2000_na_price', 'cafe_count_2000_price_500', 'cafe_count_2000_price_1000', 'cafe_count_2000_price_1500', 'cafe_count_2000_price_2500', 'cafe_count_2000_price_4000', 'cafe_count_2000_price_high', 'big_church_count_2000', 'church_count_2000', 'leisure_count_2000', 'office_count_3000', 'office_sqm_3000', 'cafe_count_3000', 'cafe_sum_3000_max_price_avg', 'cafe_avg_price_3000', 'cafe_count_3000_na_price', 'cafe_count_3000_price_500', 'cafe_count_3000_price_1000', 'cafe_count_3000_price_1500', 'cafe_count_3000_price_2500', 'cafe_count_3000_price_4000', 'cafe_count_3000_price_high', 'big_church_count_3000', 'church_count_3000', 'leisure_count_3000', 'office_count_5000', 'office_sqm_5000', 'cafe_count_5000', 'cafe_sum_5000_max_price_avg', 'cafe_avg_price_5000', 'cafe_count_5000_na_price', 'cafe_count_5000_price_500', 'cafe_count_5000_price_1000', 'cafe_count_5000_price_1500', 'cafe_count_5000_price_2500', 'cafe_count_5000_price_4000', 'cafe_count_5000_price_high', 'big_church_count_5000', 'church_count_5000', 'leisure_count_5000', 'sport_count_5000']

In [13]:
corr_train = train_joined[['ppi', 'usdrub', 'eurrub', 'brent', 'gdp_annual', 'grp_growth', 'real_dispos_income_per_cap_growth', 'salary', 'fixed_basket', 'retail_trade_turnover', 'retail_trade_turnover_per_cap', 'retail_trade_turnover_growth', 'labor_force', 'employment', 'invest_fixed_capital_per_cap', 'invest_fixed_assets', 'profitable_enterpr_share', 'unprofitable_enterpr_share', 'share_own_revenues', 'fin_res_per_cap', 'marriages_per_1000_cap', 'divorce_rate', 'construction_value', 'invest_fixed_assets_phys', 'pop_total_inc', 'housing_fund_sqm', 'lodging_sqm_per_cap', 'water_pipes_share', 'baths_share', 'sewerage_share', 'gas_share', 'hot_water_share', 'electric_stove_share', 'heating_share', 'old_house_share', 'average_life_exp', 'infant_mortarity_per_1000_cap', 'perinatal_mort_per_1000_cap', 'incidence_population', 'load_of_teachers_preschool_per_teacher', 'provision_doctors', 'provision_nurse', 'power_clinics', 'hospital_beds_available_per_cap', 'hospital_bed_occupancy_per_year', 'turnover_catering_per_cap', 'theaters_viewers_per_1000_cap', 'seats_theather_rfmin_per_100000_cap', 'museum_visitis_per_100_cap', 'bandwidth_sports', 'population_reg_sports_share', 'students_reg_sports_share', 'apartment_build', 'apartment_fund_sqm', 'id', 'children_preschool', 'children_school', 'school_quota', 'school_education_centers_raion', 'male_f', 'female_f', 'young_all', 'young_male', 'young_female', 'work_all', 'work_male', 'work_female', 'ekder_all', 'ekder_male', 'ekder_female', '0_6_all', '0_6_male', '0_6_female', '7_14_all', '7_14_male', '7_14_female', '0_17_all', '0_17_male', '0_17_female', '16_29_all', '16_29_male', '16_29_female', '0_13_all', '0_13_male', '0_13_female', 'raion_build_count_with_builddate_info', 'metro_min_walk', 'metro_km_walk', 'railroad_station_walk_min', 'railroad_station_avto_km', 'public_transport_station_min_walk', 'sadovoe_km', 'bulvar_ring_km', 'kremlin_km', 'zd_vokzaly_avto_km', 'preschool_km', 'cafe_sum_500_max_price_avg', 'cafe_avg_price_500', 'cafe_count_500_price_500', 'cafe_count_500_price_1500', 'cafe_count_500_price_2500', 'cafe_count_1000', 'cafe_sum_1000_max_price_avg', 'cafe_avg_price_1000', 'cafe_count_1000_na_price', 'cafe_count_1000_price_500', 'cafe_count_1000_price_1000', 'cafe_count_1000_price_1500', 'cafe_count_1000_price_2500', 'cafe_count_1000_price_4000', 'church_count_1000', 'office_count_1500', 'cafe_count_1500', 'cafe_sum_1500_max_price_avg', 'cafe_avg_price_1500', 'cafe_count_1500_na_price', 'cafe_count_1500_price_500', 'cafe_count_1500_price_1000', 'cafe_count_1500_price_1500', 'cafe_count_1500_price_2500', 'cafe_count_1500_price_4000', 'big_church_count_1500', 'church_count_1500', 'leisure_count_1500', 'office_count_2000', 'cafe_count_2000', 'cafe_sum_2000_max_price_avg', 'cafe_avg_price_2000', 'cafe_count_2000_na_price', 'cafe_count_2000_price_500', 'cafe_count_2000_price_1000', 'cafe_count_2000_price_1500', 'cafe_count_2000_price_2500', 'cafe_count_2000_price_4000', 'cafe_count_2000_price_high', 'big_church_count_2000', 'church_count_2000', 'leisure_count_2000', 'office_count_3000', 'office_sqm_3000', 'cafe_count_3000', 'cafe_sum_3000_max_price_avg', 'cafe_avg_price_3000', 'cafe_count_3000_na_price', 'cafe_count_3000_price_500', 'cafe_count_3000_price_1000', 'cafe_count_3000_price_1500', 'cafe_count_3000_price_2500', 'cafe_count_3000_price_4000', 'cafe_count_3000_price_high', 'big_church_count_3000', 'church_count_3000', 'leisure_count_3000', 'office_count_5000', 'office_sqm_5000', 'cafe_count_5000', 'cafe_sum_5000_max_price_avg', 'cafe_avg_price_5000', 'cafe_count_5000_na_price', 'cafe_count_5000_price_500', 'cafe_count_5000_price_1000', 'cafe_count_5000_price_1500', 'cafe_count_5000_price_2500', 'cafe_count_5000_price_4000', 'cafe_count_5000_price_high', 'big_church_count_5000', 'church_count_5000', 'leisure_count_5000', 'sport_count_5000']]

In [15]:
X_train = corr_train.drop(["id"], axis=1)
Y_train = train_joined['price_doc']

In [16]:
corr_test = test_joined[['ppi', 'usdrub', 'eurrub', 'brent', 'gdp_annual', 'grp_growth', 'real_dispos_income_per_cap_growth', 'salary', 'fixed_basket', 'retail_trade_turnover', 'retail_trade_turnover_per_cap', 'retail_trade_turnover_growth', 'labor_force', 'employment', 'invest_fixed_capital_per_cap', 'invest_fixed_assets', 'profitable_enterpr_share', 'unprofitable_enterpr_share', 'share_own_revenues', 'fin_res_per_cap', 'marriages_per_1000_cap', 'divorce_rate', 'construction_value', 'invest_fixed_assets_phys', 'pop_total_inc', 'housing_fund_sqm', 'lodging_sqm_per_cap', 'water_pipes_share', 'baths_share', 'sewerage_share', 'gas_share', 'hot_water_share', 'electric_stove_share', 'heating_share', 'old_house_share', 'average_life_exp', 'infant_mortarity_per_1000_cap', 'perinatal_mort_per_1000_cap', 'incidence_population', 'load_of_teachers_preschool_per_teacher', 'provision_doctors', 'provision_nurse', 'power_clinics', 'hospital_beds_available_per_cap', 'hospital_bed_occupancy_per_year', 'turnover_catering_per_cap', 'theaters_viewers_per_1000_cap', 'seats_theather_rfmin_per_100000_cap', 'museum_visitis_per_100_cap', 'bandwidth_sports', 'population_reg_sports_share', 'students_reg_sports_share', 'apartment_build', 'apartment_fund_sqm', 'id', 'children_preschool', 'children_school', 'school_quota', 'school_education_centers_raion', 'male_f', 'female_f', 'young_all', 'young_male', 'young_female', 'work_all', 'work_male', 'work_female', 'ekder_all', 'ekder_male', 'ekder_female', '0_6_all', '0_6_male', '0_6_female', '7_14_all', '7_14_male', '7_14_female', '0_17_all', '0_17_male', '0_17_female', '16_29_all', '16_29_male', '16_29_female', '0_13_all', '0_13_male', '0_13_female', 'raion_build_count_with_builddate_info', 'metro_min_walk', 'metro_km_walk', 'railroad_station_walk_min', 'railroad_station_avto_km', 'public_transport_station_min_walk', 'sadovoe_km', 'bulvar_ring_km', 'kremlin_km', 'zd_vokzaly_avto_km', 'preschool_km', 'cafe_sum_500_max_price_avg', 'cafe_avg_price_500', 'cafe_count_500_price_500', 'cafe_count_500_price_1500', 'cafe_count_500_price_2500', 'cafe_count_1000', 'cafe_sum_1000_max_price_avg', 'cafe_avg_price_1000', 'cafe_count_1000_na_price', 'cafe_count_1000_price_500', 'cafe_count_1000_price_1000', 'cafe_count_1000_price_1500', 'cafe_count_1000_price_2500', 'cafe_count_1000_price_4000', 'church_count_1000', 'office_count_1500', 'cafe_count_1500', 'cafe_sum_1500_max_price_avg', 'cafe_avg_price_1500', 'cafe_count_1500_na_price', 'cafe_count_1500_price_500', 'cafe_count_1500_price_1000', 'cafe_count_1500_price_1500', 'cafe_count_1500_price_2500', 'cafe_count_1500_price_4000', 'big_church_count_1500', 'church_count_1500', 'leisure_count_1500', 'office_count_2000', 'cafe_count_2000', 'cafe_sum_2000_max_price_avg', 'cafe_avg_price_2000', 'cafe_count_2000_na_price', 'cafe_count_2000_price_500', 'cafe_count_2000_price_1000', 'cafe_count_2000_price_1500', 'cafe_count_2000_price_2500', 'cafe_count_2000_price_4000', 'cafe_count_2000_price_high', 'big_church_count_2000', 'church_count_2000', 'leisure_count_2000', 'office_count_3000', 'office_sqm_3000', 'cafe_count_3000', 'cafe_sum_3000_max_price_avg', 'cafe_avg_price_3000', 'cafe_count_3000_na_price', 'cafe_count_3000_price_500', 'cafe_count_3000_price_1000', 'cafe_count_3000_price_1500', 'cafe_count_3000_price_2500', 'cafe_count_3000_price_4000', 'cafe_count_3000_price_high', 'big_church_count_3000', 'church_count_3000', 'leisure_count_3000', 'office_count_5000', 'office_sqm_5000', 'cafe_count_5000', 'cafe_sum_5000_max_price_avg', 'cafe_avg_price_5000', 'cafe_count_5000_na_price', 'cafe_count_5000_price_500', 'cafe_count_5000_price_1000', 'cafe_count_5000_price_1500', 'cafe_count_5000_price_2500', 'cafe_count_5000_price_4000', 'cafe_count_5000_price_high', 'big_church_count_5000', 'church_count_5000', 'leisure_count_5000', 'sport_count_5000']]

In [17]:
X_test = corr_train.drop(["id"], axis=1)
Y_test = train_joined['price_doc']

Дефолтный XGBRegressor

In [19]:
regr = XGBRegressor()
regr.fit(X_train, Y_train)
Y_pred = regr.predict(X_test)
metrics.mean_squared_error(Y_test, Y_pred)

13677586841609.531

Посмотрим разные параметры

In [20]:
xgb_reg = xgb.XGBRegressor()
params = {'max_depth': [5, 7, 9], 'colsample_bytree': [0.3, 0.5, 0.7], 'n_estimators': [50, 100, 200]}

xgb_cv = GridSearchCV(xgb_reg, params)
xgb_cv = xgb_cv.fit(X_train, Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

In [21]:
xgb_cv.best_params_

{'colsample_bytree': 0.3, 'max_depth': 9, 'n_estimators': 50}

In [25]:
regr = XGBRegressor(colsample_bytree=0.3, max_depth=9, n_estimators=50)
regr.fit(X_train, Y_train)
Y_pred = regr.predict(X_test)
metrics.mean_squared_error(Y_test, Y_pred)

7344887894653.413