In [79]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.linear_model import SGDRegressor, LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import mean_squared_error

In [59]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

Считываем данные

In [60]:
data = pd.read_csv("HW/3/train.csv")
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>season</th>
      <th>holiday</th>
      <th>workingday</th>
      <th>weather</th>
      <th>temp</th>
      <th>atemp</th>
      <th>humidity</th>
      <th>windspeed</th>
      <th>casual</th>
      <th>registered</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2011-01-01 00:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>81</td>
      <td>0.0</td>
      <td>3</td>
      <td>13</td>
      <td>16</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2011-01-01 01:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.02</td>
      <td>13.635</td>
      <td>80</td>
      <td>0.0</td>
      <td>8</td>
      <td>32</td>
      <td>40</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2011-01-01 02:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.02</td>
      <td>13.635</td>
      <td>80</td>
      <td>0.0</td>
      <td>5</td>
      <td>27</td>
      <td>32</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2011-01-01 03:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>75</td>
      <td>0.0</td>
      <td>3</td>
      <td>10</td>
      <td>13</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2011-01-01 04:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>75</td>
      <td>0.0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [61]:
dt = pd.to_datetime(data["datetime"])
data["hour"] = dt.map(lambda x: x.hour)
data["day"] = dt.map(lambda x: x.day)
data["month"] = dt.map(lambda x: x.month)
data["year"] = dt.map(lambda x: x.year)
data = data.drop(['datetime', 'registered', 'casual'], axis=1)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>season</th>
      <th>holiday</th>
      <th>workingday</th>
      <th>weather</th>
      <th>temp</th>
      <th>atemp</th>
      <th>humidity</th>
      <th>windspeed</th>
      <th>count</th>
      <th>hour</th>
      <th>day</th>
      <th>month</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>81</td>
      <td>0.0</td>
      <td>16</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2011</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.02</td>
      <td>13.635</td>
      <td>80</td>
      <td>0.0</td>
      <td>40</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2011</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.02</td>
      <td>13.635</td>
      <td>80</td>
      <td>0.0</td>
      <td>32</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2011</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>75</td>
      <td>0.0</td>
      <td>13</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>2011</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>75</td>
      <td>0.0</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2011</td>
    </tr>
  </tbody>
</table>
</div>

In [62]:
data.dtypes

season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
count           int64
hour            int64
day             int64
month           int64
year            int64
dtype: object

Делаем категориальные признаки

In [63]:
data["season"] = data["season"].astype('category')
data["holiday"] = data["holiday"].astype('category')
data["workingday"] = data["workingday"].astype('category')
data["weather"] = data["weather"].astype('category')
data["month"] = data["month"].astype('category')
data["day"] = data["day"].astype('category')
data["hour"] = data["hour"].astype('category')

data.dtypes

season        category
holiday       category
workingday    category
weather       category
temp           float64
atemp          float64
humidity         int64
windspeed      float64
count            int64
hour          category
day           category
month         category
year             int64
dtype: object

In [64]:
X = data.drop(columns=['count'], axis=1)
Y = data['count']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

Регрессия с категориальными признаками

In [80]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, Y_train)
Y_pred = lin_reg.predict(X_test)
mean_squared_error(Y_test, Y_pred)

20481.947389975438

Регрессия без категориальных признаков

In [67]:
X_wo_categ = X.drop(columns=["season", "holiday", "workingday", "weather", "month", "day", "hour"])
Y_wo_categ = Y.drop(columns=["season", "holiday", "workingday", "weather", "month", "day", "hour"])
X_train_wo_categ, X_test_wo_categ, Y_train_wo_categ, Y_test_wo_categ = train_test_split(X_wo_categ, Y_wo_categ , test_size=0.3, random_state=27)

In [68]:
scaler_wo_categ = StandardScaler()
scaler_wo_categ.fit(X_train_wo_categ, Y_train_wo_categ)
X_train_wo_categ_scaled = scaler_wo_categ.transform(X_train_wo_categ)
X_test_wo_categ_scaled = scaler_wo_categ.transform(X_test_wo_categ)

In [69]:
wo_categ_regr = SGDRegressor()
wo_categ_regr.fit(X_train_wo_categ_scaled, Y_train_wo_categ)
mean_squared_error(Y_test_wo_categ, wo_categ_regr.predict(X_test_wo_categ_scaled))

23637.781415101617

Регрессия с one-hot-encode

In [70]:
one_hot_encoder = OneHotEncoder(sparse=False)
X_ohe = one_hot_encoder.fit_transform(X[['season', 'holiday', 'workingday', 'weather', 'month', 'day','hour']])
X_ohe_train, X_ohe_test, Y_ohe_train, Y_ohe_test = train_test_split(X_ohe, Y, test_size=0.3, random_state=27)

In [71]:
scaler_ohe = StandardScaler()
scaler_ohe.fit(X_ohe_train, Y_ohe_train)
X_train_ohe_scaled = scaler_ohe.transform(X_ohe_train)
X_test_ohe_scaled = scaler_ohe.transform(X_ohe_test)

In [72]:
ohe_categ_regr = SGDRegressor(tol=1e-3)
ohe_categ_regr.fit(X_train_ohe_scaled, Y_ohe_train)
mean_squared_error(Y_ohe_test, ohe_categ_regr.predict(X_test_ohe_scaled))

13246.700728983591